/*Edição de texto e imagens/gif index.html*/
.center {
    display: flex;
   flex-direction: column;
   padding: 15px;
   align-items: center;
}
.img {
    width: 280px;
    height: 160px;
    border-radius: 15%;
}
.menu li{
    display: inline;
    padding: 20px;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 5px;
    background-color: chocolate;
    padding: 5px;
    background-color: chocolate;
    border: 1px solid maroon;
  }
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu li a:hover{
    color: blue;
}
.padding-35{
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.fundo{
    background-color: #936639;
    
}
.form{
    display: flex;
    justify-content: center;
}
input{
    display: block;

}
textarea{
    display: block;
}

/*Edição de texto e imagens/gif LocaisDePesca.html*/